<!-- <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->
<div class="modal-body" style="margin-bottom: -40px;" *ngIf="payload">
    <div class="row">
        <div class="card author-box back">
            <div class="card-body">
                <div class="author-box-center ">
                    <figure class="avatar msr-2 avatar-xl">
                        <img src="{{ PICS_URL+payload.image }}" />
                    </figure>
                    <div class="author-box-name fullName">
                        <span>{{payload.name}}</span>
                    </div>
                    <!-- <div class="badge badge-info">{{payload.title}}</div> -->
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body ">
                <p class="clearfix">
                    <span class="float-start">
                        Mail
                    </span>
                    <span class="float-end text-muted">
                        {{payload.email}}
                    </span>
                </p>
                
                
                
               
            </div>
        </div>
    </div>
</div>