<section class="main-content" style="margin-top: 10px;">
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Rooms calendar</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 col-sm-10 p-l-30">
                <div class="m-b-25">
                  <button class="btn btn-icon icon-left btn-primary" *ngIf="role==='Admin'"  (click)="addRoomWindowCall()">
                    Add Room</button>
                </div>
                
                <h5 class="roomContainer">Rooms <i class="fas fa-level-down-alt"></i></h5>

                <ng-scrollbar style="height: 700px" visibility="hover">
                  <div class="roomContainer" >
                    <ul class="list-group" >
                      <li *ngFor="let room of rooms" class="list-group-item" >
                        <div class="row">
                          <div class="col-9">
                            <strong class="rooms" (click)="ToggleCalendar(room)" style="cursor: pointer;">{{room.label}}</strong>
                            <div>
                              <strong class="roomsModel">C: {{room.capacity}}</strong>
                            </div>
                            <div>
                              <button class="btn btn-outline-danger actionButtons" *ngIf="role==='Admin'" ngbPopover="Delete room"
                                triggers="mouseenter:mouseleave" (click)="deleteRoom(room._id)"><i class="fas fa-trash"></i></button>
                              <button class="btn btn-outline-warning actionButtons" *ngIf="role==='Admin'"  ngbPopover="Edit room"
                                triggers="mouseenter:mouseleave" (click)="editRoomWindowCall(room)"><i class="fas fa-pen"></i></button>
                              <button class="btn btn-outline-primary actionButtons" ngbPopover="Book room" triggers="mouseenter:mouseleave"
                                (click)="ToggleCalendar(room)"><i class="far fa-calendar-alt"></i></button>
                            </div>
                          </div>
                          <div class="col-3">
                            <img src="{{roomPic+room.image}}" class="roomPic" alt="{{room.image}}">
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </ng-scrollbar>
              </div>
              <div class="col-md-8 col-md-9">
                <div class="panel-body">
                  <full-calendar [options]='calendarOptions' *ngIf="showCalendar">
                  </full-calendar>
                </div>
                <div class="panel-body" *ngIf="!showCalendar">
                  <h1 class="empty">Please select a room</h1>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>