<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Dashboard</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main">
        <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Dashboard</li>
  </ul>
  <div class="section-body">
    <div class="row ">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-grid-spacing">
                  <div class="card-content">
                    <br><br>
                    <h5 class="font-30">Rooms</h5>
                    <h2 class="mb-3 font-25 col-green">{{roomCount}}</h2>
                    <!-- <p class="mb-0"><span class="col-green">42%</span></p> -->
                  </div>
                  <!-- <ngb-progressbar type="success" [value]="42" height=".3rem"></ngb-progressbar> -->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right-grid-spacing">
                  <div class="banner-img">
                    <img src="assets/images/banner/3.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-grid-spacing">
                  <div class="card-content">
                    <br><br>
                    <h5 class="font-30"> Users</h5>
                    <h2 class="mb-3 font-25 col-orange">{{userCount}}</h2>
                    <!-- <p class="mb-0"><span class="col-orange">33%</span></p> -->
                  </div>
                  <!-- <ngb-progressbar type="warning" [value]="33" height=".3rem"></ngb-progressbar> -->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right-grid-spacing">
                  <div class="banner-img">
                    <img src="assets/images/banner/1.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4" *ngFor="let room of rooms">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-9">   
                <br>         
                <h6>{{room.label}}</h6>              
              </div>
              <div class="col-3" >
                <img src="{{roomPic+room.image}}" class="roomPic" alt="">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-10 col-indigo"><strong>Capacity</strong></div>
              <div class="col-2 col-indigo">{{room.capacity}}</div>
            </div>
            <!-- <span class="col-blue"><strong>Capacity</strong>{{room.capacity}}</span> -->
          </div>
        </div>
      </div>
      <!-- <div class="col-2">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body"></div>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body"></div>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body"></div>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body"></div>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body"></div>
        </div>
      </div> -->
    </div>
  </div>
  