<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">
            Add Room</div>
        </div>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="register-form" [formGroup]="roomAddForm" (ngSubmit)="onSubmit()">
      
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <label>Label<span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="label" formControlName="label" required>
          <small class="form-text text-danger"
            *ngIf="!roomAddForm.get('label')?.valid && roomAddForm.get('label')?.touched"> Label is
            required</small>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <label>Capacity<span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Capacity" formControlName="capacity" required>
          <small class="form-text text-danger"
            *ngIf="!roomAddForm.get('capacity')?.valid && roomAddForm.get('capacity')?.touched"> Capacity is
            required</small>
        </div>
      </div>
      <div class="form-group col-md-12">
        <label>Upload picture<span class="text-danger">*</span></label>
        <ngx-dropzone style="background-color: transparent;" [multiple]="false" (change)="onSelect($event)">
            <ngx-dropzone-label>You can click or drag & drop!</ngx-dropzone-label>
            <ngx-dropzone-preview  style="width: 250px;" *ngFor="let f of files"  [removable]="true"  (removed)="onRemove(f)">
                <ngx-dropzone-label><div style="color: rgb(151, 82, 82);width: 150px;height: 150px;">{{ f.name }}</div></ngx-dropzone-label>
                <small class="form-text text-danger" *ngIf="!f"> Picture is required</small>
            </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>

      
      <div class="modal-footer">
        <button  type="submit" class="btn btn-primary">Add Room</button>
        
        <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Close</button>
      </div>
    </form>
  </div>