.bigSize{
    font-size:70px;
    color: rgb(225, 225, 226);
}
.bp{
    padding: 5px;
}
.bannerV{
    background: #14381e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #42b492, #14381e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #42b492, #057f4e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.action{
    margin-left: 10px;
}
.cardSize{
    padding-bottom: 20px;
}

.roomPic{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}