<div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">
            Room Event</div>
        </div>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('modal closed')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body" style="margin-bottom: -40px;" *ngIf="event">
    <div class="row" >
        <div class="card author-box back bannerV" >
            <div class="card-body">
                <div class="author-box-center ">
                    <div class="author-box-name fullName">
                        <div>
                           <img src="{{roomPic+event.room.image}}" class="roomPic" >
                        </div>                       
                        <!-- <span style="color: rgb(242, 242, 242);">{{event.title}}</span> -->
                    </div>
                    <div class="badge badge-light" style="font-size: large; margin-top: 10px;">{{event.room.label}}</div><br/>
                </div>
            </div>
        </div>
        <div class="cardSize">
            <div>
                <button class="btn btn-icon btn-warning action" (click)="editEvent(event._id)">
                    <i class="far fa-edit"></i>
                </button>
                <button class="btn btn-icon btn-danger action" (click)="deleteEvent(event._id)">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
        <div class="card">
            <div class="card-body ">
                <p class="clearfix">
                    <span class="float-start">
                        Title
                    </span>
                    <span class="float-end text-muted">
                        {{event.title}}
                    </span>
                </p>
                <p class="clearfix">
                    <span class="float-start">
                        Applicant
                    </span>
                    <span class="float-end text-muted">
                        {{event.applicant}}
                    </span>
                </p>
                <p class="clearfix">
                    <span class="float-start">
                        Start date 
                    </span>
                    <span class="float-end text-muted">
                        {{event.start| date:'dd/MM/yyyy HH:mm' }}
                    </span>
                </p>
                <p class="clearfix">
                    <span class="float-start">
                        End date
                    </span>
                    <span class="float-end text-muted">
                        {{event.end | date:'dd/MM/yyyy HH:mm'}}
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>